@media screen and (max-width: 768px){
    #srjGallery #aniimated-thumbnials a{
        width: 50%;
        height: 180px;
    }
    #srjNews-update{
        border-left: 0px solid red;
    }
}